.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.activate-message, .activate-error{
  text-align: center;

}

.activate-error {
  color: red;
}

