<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="springboot:void(8)">RSBN😍</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/book">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/my-book">
            <i class="fas fa-book"></i>&nbsp;My books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/my-wating-list">
            <i class="fas fa-heart"></i>&nbsp;Waiting list
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/my-returned-book">
            <i class="fas fa-book"></i>&nbsp;Returned books
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/book">
            <i class="fas fa-book"></i>&nbsp;Borrowed books
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="text" placeholder="find a book" aria-label="search">
        <button class="btn btn-outline-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
        <span class="text-capitalize fw-blod">Renee</span>
        <button class="btn btn-link" type="button" (click)="logout()">
          <i class="fas fa-door-open"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
